<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Profile</a>
</nav>

<div>
    <div style="margin-top: 20px;margin-bottom: 20px;background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); -webkit-background-clip: text;
  color: transparent; text-align: center;" >
        <strong>Your firstName: {{users.firstName}}, <br/> Your lastname: {{users.lastName}}, <br/> Your email: {{users.email}}, <br/> Your password: {{users.password}} </strong>
    </div>
    <h2 style="margin-top: 100px; text-align: center">You should see belove a list of your schedules: </h2>
        <div class="schedules-group" style="margin-top: 20px;border: 4px solid black">
            <ul>
                <li>Id: {{schedules1.id}}</li>
                <li>User_Id: {{schedules1.user_Id}} </li>
                <li>Day: {{schedules1.day}}</li>
                <li>TimeStart: {{schedules1.timeStart}}  </li>
                <li>TimeEnd: {{schedules1.timeEnd}}</li>
            </ul> 
        </div>
            <div class="schedules-group" style="margin-top: 20px;border: 4px solid black">
                <ul>
                    <li>Id: {{schedules2.id}}</li>
                    <li>User_Id: {{schedules2.user_Id}} </li>
                    <li>Day: {{schedules2.day}}</li>
                    <li>TimeStart: {{schedules2.timeStart}}  </li>
                    <li>TimeEnd: {{schedules2.timeEnd}}</li>
                </ul>
      </div>
        <div>
            <h2 style="text-align: center; margin-top: 50px">Add your meeting!</h2>
            <form method="GET" action="/post">
            <div class="form-group">
                <label for="Id">Id:</label>
                <input name="Id" type="text" class="form-control" id="Id" placeholder="Please enter Id here">
            </div>

            <div class="form-group">
                <label for="Day">Day: </label>
                <input name="Day" type="text" class="form-control" id="Day" placeholder="Please enter in which day you want to have meeting">
            </div>

            <div class="form-group">
                <label for="TimeStart">TimeStart:</label>
                <input name="TimeStart" type="text" class="form-control" id="TimeStart" placeholder="Please enter a hour when you want to have a meet">
            </div>

            <div class="form-group">
                <label for="TimeEnd">TimeEnd:</label>
                <input name="TimeEnd" type="text" class="form-control" id="TimeEnd" placeholder="Please enter a hour when you want to end a meet">
            </div>

            <button type="submit" class="btn btn-primary">Add!</button>
        </form>
        <script>
        const x = document.getElementById('Id').value;
        console.log(x); 
        </script>
        </div>
</div>